@charset "utf-8" ; 
html,body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{
	margin:0;padding:0;
}
body{
	font-size:16px;
	font-family:'微软雅黑';
}
ul,ol,li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:normal;
}
b,strong{
	font-weight:normal;
}
i,em{
	font-style:normal;
}
a,u{
	text-decoration:none;
}
img{
	border:0;
	display:block;
}
input,fieldset{
	outline:none;
	border:0;
}
.clear_fix:after{
	content:'.';
	clear:both;
	height:0;
	overflow:hidden;
	visibility:hidden;
	display:block;
}
.clear_fix{
	zoom:1;
}

/* 网页样式111111 */
/* 顶部样式 */
#header{
    width: 1100px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /* overflow: hidden; */
    /* background: red; */
}

/* logo */
#header .logo{
    display: block; 
    width: 290px;
    height: 70px;
    float: left;
    background-image: url(../images/ia_100000105.png);
    background-position: 0 -48px;
}

/* 顶部右侧样式 */

#header .header-right{
    width: 476px;
    height:70px;
    float: right;
    display: flex;
    justify-content: center;
}
/* 搜索框 */
#header .search{
    width: 300px;
    height: 38px;
    margin-top: 15px;
    background-image: url(../images/ia_100000105.png);
    background-position: 0px -0px;
    float: left;
    /* margin-right: 41px; */
}
#header .search input{
    width: 240px;
    height: 16px;
    margin: 10px 0 0 34px;
}

/* 购物车 */
#header .shopping{
    width: 36px;
    height: 36px;
    /* float: right; */
    margin: 17px 0 0 41px;
}
#header .shopping a{
    display: block;
    width: 36px;
    height: 36px;
    background-image: url(../images/ia_100000105.png);
    background-position: -110px -158px;
}

/* 个人中心 */
#header .personalCenter{
    position: absolute;
    right: 0;
    display: block;
    width: 62px;
    height: 36px;
    /* float: right; */
    top: 15px;
    right: -35px;
    justify-items: right;
    z-index: 99;
}
#header .personalCenter .photo{
    display: block;
    width: 36px;
    height: 36px;
    /* background-image: url(../images/193a4d63-ef1e-4934-bf49-49838ae04752.png); */
    border-radius: 50%;
}
#header .personalCenter .triangle{
    width: 26px;
    height: 36px;
    float: right;
    background-image: url(../images/ia_100000075.png);
    background-repeat: no-repeat;
    background-position: 0 -10px;
}

#header  .nav{
    width: 160px;
    height: 201px;
}
#header  .nav-top{
    position: absolute;
    top: 55px;
    right: -38px;
    z-index: 99; 
    display: none;
    
}
#header  .nav-top li{
    width: 160px;
    height: 50px;
}
#header .nav-top li a{
    display: block;
    background: white;
    width: 160px;
    height: 50px;
    color: black;
    text-align: center;
    line-height: 50px;
}
#header .nav-top li a:hover{
    background: #f8f8f8;
}

#header .personalCenter:hover .nav-top{
    display: block;
}

/* // 首页名称  分享 */
.header-content{
    box-sizing: border-box;
    width: 1100px;
    height: 80px;
    padding: 30px 0px 19px;
    margin: 0 auto;
    border-bottom: 1px black solid; 
}
.header-content > a{
        width: 36px;
        height: 24px;
        font-size: 18px;
        font-weight: 600;
        color: #333333;
    }
.header-content span{
        width: 457.8;
        height: 21px;
        color: #999999;
        font-size: 16px;  
}   
.header-content i{
            width: 16px;
            height: 26px;
            background-image: url(../images/ia_100000047.png);
            background-position: 0 4px 0 8px;
        }

#small{
    width: 440px; 
    height: 440px; 
    position: absolute; 
    left: 400px; 
    top: 180px; 
    background: #f8f8f8;
}
#small img{
    width: 100%; 
    height: 100%;
}
#big img{
    width: 880px; 
    height: 880px; 
    position: absolute; 
    left: 0px; 
    top: 0px;
}
#big{ 
    overflow: hidden;
    width: 530px; 
    height: 530px; 
    position: absolute; 
    left: 860px; 
    top: 180px; 
    background: #f8f8f8;
    display: none;
}
#mark{
    background-color: gray; 
    opacity: 0.5; 
    filter: alpha(opacity=50); 
    position: absolute; 
    left: 0px; 
    top: 0px; 
    width: 220px; 
    height: 220px; 
    display: none;
} 




/* 主页底部 */

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 160px;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
}
.bottom .bottom-content{
    width: 1100px;
    height: 142px;
    display: flex;
    justify-content: space-between;
}
.bottom-left{
    width: 590px;
    height: 142px;
    font-size: 12px;
    padding-top: 22px;
    line-height: 24px;
    color: #666;
    justify-items: left;
}
.bottom-left a{
    color: #666;
    text-decoration:none;
}
.bottom-left a:hover{
    text-decoration: underline;
}
.bottom-left li:nth-child(1) a{
    color: #999999;
}
.bottom-left li:nth-child(1) i{
    /* background: #000000; */
    color: #999999;
    height:12px;
    margin:0 5px 0 5px; 
}

.bottom-right{
    justify-content: right;
    width: 330px;
    height: 70px;
    margin-top: 30px;
}
.bottom-right li{
    width: 60px;
    height: 70px;
    float: left;
    margin-left: 30px;
}
.bottom-right li:nth-child(1){
    margin-left: 0;
}
.bottom-right li a{
    display: block;
    width: 60px;
    height: 70px;
    /* background: red; */

}
.bottom-right li:nth-child(1) a{
    background-image:url(../images/ia_100000111.png);
    background-position: -60px -80px;         
}
.bottom-right li:nth-child(2) a{
    background-image:url(../images/ia_100000111.png);
    background-position:0px -80px;      
}
.bottom-right li:nth-child(3) a{
    background-image:url(../images/ia_100000111.png);
    background-position:0 0;      
}
.bottom-right li:nth-child(4) a{
    background-image:url(../images/ia_100000111.png);
    background-position:-60px 0;      
}